<%= form_with(model: nasa, local: true) do |form| %>
  <% if nasa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nasa.errors.count, "error") %> prohibited this nasa from being saved:</h2>

      <ul>
      <% nasa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :api %>
    <%= form.text_field :api %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
