<p id="notice"><%= notice %></p>

<p>
  <strong>Search:</strong>
  <%= @widget.search %>
</p>

<p>
  <strong>Result:</strong>
  <%= @widget.result %>
</p>

<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>
