<p id="notice"><%= notice %></p>

<p>
  <strong>Search:</strong>
  <%= "\"#{@term}\" places found in #{@location}" %>
</p>

<table>
  <thead>
    <tr>
      <th>Results </th>

    </tr>
  </thead>

  <tbody>
    <% @yelpjson.result("#{@term}", "#{@location}").each do |f| %>
      <tr>
        <td><%= f %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
