<p id="notice"><%= notice %></p>


<h1> Yelp Searches </h1>
<br>
<p>
  <strong>Search:</strong>
  <%= @search.search %>
</p>
<br>
<b>Results:</b>
<style>
h2 { color: blue; text-indent: 10px;}
</style>


<% @yelp_url.each do |n| %>

<h2> 
<%= link_to n["name"], n["url"] %>
</h2>
<b> Rating:</b>
<%= "#{n["rating"]}" %>
<br>
<b>Location:</b> 
<%= "#{n["location"]}" %>
<br>
<b>Phone:</b> 
<%= "#{n["display_phone"]}" %>
<br>
<b>Url:</b> 
<%= link_to n["name"], n["url"] %>
<br>
<%= image_tag("#{n['image_url']}", draggable: "true", id: "drag1") %>
<br>
<%end%>
<br>


<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>